#Introducción a las listas.

Acceder a elementos de lista por índice

In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [ ]:
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

#Determinar la longitud de una lista.

In [2]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

#Agregar valores a listas.

In [3]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

#Eliminar valores de una lista.

In [4]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

#Índices negativos.

In [5]:
print("The first planet is", planets[0])

The first planet is Mercury

In [6]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

#Buscar un valor en una lista.

In [7]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

#Almacenar números en listas.

In [9]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

print(gravity_on_earth)
print(gravity_on_the_moon)

1.0
0.166

In [10]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

#min() y max () con listas.

In [11]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

#Manipular datos de lista.

Slice list.

In [12]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [14]:
planets_after_earth = planets[3:8]
print(planets_after_earth) 

planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#Uniendo listas.

In [16]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

#Ordenar listas.

In [17]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

#Ejercicio1: Crear y usar listas de Python.

In [25]:
# Creamos la lista planets y la mostramos
planetas = ["Mercurio","Venus", "Tierra", "Marte", "Jupiter", "Saturno", "Urano", "Neptuno"]
print(planetas)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [26]:
# Agregamos a plutón y mostramos el último elemento
planetas.append("Pluton")
print(planetas)
#Mostramos el ultimo
print(planetas[-1])

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno', 'Pluton']
Pluton

#Ejercicio 2: Trabajando con datos de una lista.

In [43]:
# Lista de planetas
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Neptune']
# Solicitamos el nombre de un planeta *Pista:  input()*
planeta = input("Dame el nombre de un planeta")
# Busca el planeta en la lista
try:
    indice = planets.index(planeta)
    print(f"El planeta {planets[indice]} esta en la lista")
except:
    print("El planeta no esta listado")
# Muestra los planetas más cercanos al sol del que el usuario ingreso
if indice == 0:
    print(f"{planets[indice]} es el planeta mas cercano al sol")
else:
    print(f"Los planetas mas cercanos al sol antes de {planets[indice]} son {planets[0:indice]}")
# Muestra los planetas más lejanos al sol del que el usuario ingreso
print(f"Los planetas mas lejanos al sol despues de {planets[indice]} son {planets[indice + 1:]}")

El planeta Saturn esta en la lista
Los planetas mas cercanos al sol antes de Saturn son ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']
Los planetas mas lejanos al sol despues de Saturn son ['Neptune']